defaults
    mode tcp
    timeout connect 5000ms
    timeout client 5000ms
    timeout server 5000ms

frontend reverse_proxy
  mode tcp
  bind *:25587
  default_backend minecraft

backend minecraft
  mode tcp
  balance leastconn
  server s1 localhost:25565
